openapi: 3.1.0
info:
  title: IRIS
  version: 2.1.0
  description: |
    ## IRIS API 
    To use these API endpoint, an API key is needed and can be found in every user profile under `My settings` > `API Key`. 
    This specification applies to Iris >= v2.4.0. The supported API version can be checked in `Advanced` > `Server settings` > `Server versions` on IRIS.   
    The API port is the same as the one used for the web interface, so `443` by default.  
     
    ## Changes
    ### Changes in v2.1.0
    * Added POST /api/v2/cases
    * Added GET /api/v2/cases/{identifier}
    * Added DELETE /api/v2/cases/{identifier}
    * Added POST /api/v2/cases/{identifier}/iocs
    * Added GET /api/v2/iocs/{identifier}
    * Added DELETE /api/v2/iocs/{identifier}
    * Added POST /api/v2/cases/{identifier}/tasks
    * Added GET /api/v2/tasks/{identifier}
    * Added DELETE /api/v2/tasks/{identifier}
    * Added POST /api/v2/cases/{identifier}/assets
    * Added GET /api/v2/assets/{identifier}
    * Added DELETE /api/v2/assets/{identifier}
    * Deprecated POST /manage/cases/add in favor of POST /api/v2/cases
    * Deprecated POST /manage/cases/delete/{case_id} in favor of DELETE /api/v2/cases/{identifier}
    * Deprecated POST /case/ioc/add in favor of POST /api/v2/cases/{identifier}/iocs
    * Deprecated GET /case/ioc/{ioc_id}  in favor of GET /api/v2/iocs/{identifier}
    * Deprecated DELETE /case/ioc/delete/{ioc_id} in favor of DELETE /api/v2/iocs/{identifier}
    * Deprecated POST /case/tasks/add in favor of POST /api/v2/cases/{identifier}/tasks
    * Deprecated GET /case/tasks/{task_id} in favor of GET /api/v2/tasks/{identifier}
    * Deprecated DELETE /case/tasks/delete/{task_id} in favor of DELETE /api/v2/tasks/{identifier}
    * Deprecated POST /case/assets/add in favor of POST /api/v2/cases/{identifier}/assets
    * Deprecated GET /case/assets/{asset_id} in favor of GET /api/v2/assets/{identifier}
    * Deprecated DELETE /case/assets/delete/{asset_id} in favor of DELETE /api/v2/assets/{identifier}
    

    ### Changes in v2.0.0
    This version introduces access control. Every request now needs to have the `cid=x` parameter in the URI.  
    Deletion endpoints have been migrated from `GET` to `POST`. Deletion GET endpoints have been marqued as `deprecated` and are not available anymore.  

    ### Changes in v1.4.5
    v1.4.5 introduced the concept of custom attributes. These JSON objects that are stored into almost all case objects such as Assets, IOCs, etc. They are defined by administrators or modules and can vary from one objet to another despite being of the same type.  Because of this, no definitive structure can be expected from these fields. They are all named ``custom_attributes``. 
  contact:
    name: DFIR-IRIS
    email: contact@dfir-iris.org
    url: 'https://docs.dfir-iris.org/contact/'
  license:
    name: LGPLv3
servers:
  - url: 'https://v200.beta.dfir-iris.org'
    description: Demo instance
  - url: 'https://127.0.0.1'
    description: Local instance
  - url: 'http://127.0.0.1:8000'
    description: Local debug
paths:
  /case/summary/update:
    $ref: v2.1.0/resources/case_summary_update.yaml
  /case/tasklog/add:
    $ref: v2.1.0/resources/case_tasklog_add.yaml
  /case/export:
    $ref: v2.1.0/resources/case_export.yaml
  /case/assets/list:
    $ref: v2.1.0/resources/case_assets_list.yaml
  /case/assets/{asset_id}:
    $ref: v2.1.0/resources/case_assets_{asset_id}.yaml
  /case/assets/add:
    $ref: v2.1.0/resources/case_assets_add.yaml
  /case/assets/update/{asset_id}:
    $ref: v2.1.0/resources/case_assets_update_{asset_id}.yaml
  /case/assets/delete/{asset_id}:
    $ref: v2.1.0/resources/case_assets_delete_{asset_id}.yaml
  /case/notes/groups/list:
    $ref: v2.1.0/resources/case_notes_groups_list.yaml
  /case/notes/groups/{group_id}:
    $ref: v2.1.0/resources/case_notes_groups_{group_id}.yaml
  /case/notes/directories/filter:
    $ref: v2.1.0/resources/case_notes_directories_filter.yaml
  /case/notes/groups/add:
    $ref: v2.1.0/resources/case_notes_groups_add.yaml
  /case/notes/directories/add:
    $ref: v2.1.0/resources/case_notes_directories_add.yaml
  /case/notes/groups/update/{group_id}:
    $ref: v2.1.0/resources/case_notes_groups_update_{group_id}.yaml
  /case/notes/directories/update/{directory_id}:
    $ref: v2.1.0/resources/case_notes_directories_update_{directory_id}.yaml
  /case/notes/groups/delete/{group_id}:
    $ref: v2.1.0/resources/case_notes_groups_delete_{group_id}.yaml
  /case/notes/directories/delete/{directory_id}:
    $ref: v2.1.0/resources/case_notes_directories_delete_{directory_id}.yaml
  /case/notes/add:
    $ref: v2.1.0/resources/case_notes_add.yaml
  /case/notes/{note_id}:
    $ref: v2.1.0/resources/case_notes_{note_id}.yaml
  /case/notes/update/{note_id}:
    $ref: v2.1.0/resources/case_notes_update_{note_id}.yaml
  /case/notes/delete/{note_id}:
    $ref: v2.1.0/resources/case_notes_delete_{note_id}.yaml
  /case/notes/search:
    $ref: v2.1.0/resources/case_notes_search.yaml
  /case/ioc/list:
    $ref: v2.1.0/resources/case_ioc_list.yaml
  /case/ioc/{ioc_id}:
    $ref: v2.1.0/resources/case_ioc_{ioc_id}.yaml
  /case/ioc/add:
    $ref: v2.1.0/resources/case_ioc_add.yaml
  /case/ioc/delete/{ioc_id}:
    $ref: v2.1.0/resources/case_ioc_delete_{ioc_id}.yaml
  /case/ioc/update/{ioc_id}:
    $ref: v2.1.0/resources/case_ioc_update_{ioc_id}.yaml
  /case/timeline/events/list/filter/{asset_id}:
    $ref: v2.1.0/resources/case_timeline_events_list_filter_{asset_id}.yaml
  /case/timeline/advanced-filter:
    $ref: v2.1.0/resources/case_timeline_advanced-filter.yaml
  /case/timeline/events/list:
    $ref: v2.1.0/resources/case_timeline_events_list.yaml
  /case/timeline/state:
    $ref: v2.1.0/resources/case_timeline_state.yaml
  /case/timeline/events/add:
    $ref: v2.1.0/resources/case_timeline_events_add.yaml
  /case/timeline/events/{event_id}:
    $ref: v2.1.0/resources/case_timeline_events_{event_id}.yaml
  /case/timeline/events/update/{event_id}:
    $ref: v2.1.0/resources/case_timeline_events_update_{event_id}.yaml
  /case/timeline/events/delete/{event_id}:
    $ref: v2.1.0/resources/case_timeline_events_delete_{event_id}.yaml
  /case/tasks/list:
    $ref: v2.1.0/resources/case_tasks_list.yaml
  /case/tasks/{task_id}:
    $ref: v2.1.0/resources/case_tasks_{task_id}.yaml
  /case/tasks/delete/{task_id}:
    $ref: v2.1.0/resources/case_tasks_delete_{task_id}.yaml
  /case/tasks/add:
    $ref: v2.1.0/resources/case_tasks_add.yaml
  /case/tasks/update/{task_id}:
    $ref: v2.1.0/resources/case_tasks_update_{task_id}.yaml
  /case/evidences/list:
    $ref: v2.1.0/resources/case_evidences_list.yaml
  /case/evidences/add:
    $ref: v2.1.0/resources/case_evidences_add.yaml
  /case/evidences/{evidence_id}:
    $ref: v2.1.0/resources/case_evidences_{evidence_id}.yaml
  /case/evidences/delete/{evidence_id}:
    $ref: v2.1.0/resources/case_evidences_delete_{evidence_id}.yaml
  /case/evidences/update/{evidence_id}:
    $ref: v2.1.0/resources/case_evidences_update_{evidence_id}.yaml
  /alerts/{alert_id}:
    $ref: v2.1.0/resources/alerts_{alert_id}.yaml
  /alerts/filter:
    $ref: v2.1.0/resources/alerts_filter.yaml
  /alerts/add:
    $ref: v2.1.0/resources/alerts_add.yaml
  /alerts/update/{alert_id}:
    $ref: v2.1.0/resources/alerts_update_{alert_id}.yaml
  /alerts/batch/update:
    $ref: v2.1.0/resources/alerts_batch_update.yaml
  /alerts/delete/{alert_id}:
    $ref: v2.1.0/resources/alerts_delete_{alert_id}.yaml
  /alerts/batch/delete:
    $ref: v2.1.0/resources/alerts_batch_delete.yaml
  /alerts/escalate/{alert_id}:
    $ref: v2.1.0/resources/alerts_escalate_{alert_id}.yaml
  /alerts/merge/{alert_id}:
    $ref: v2.1.0/resources/alerts_merge_{alert_id}.yaml
  /alerts/unmerge/{alert_id}:
    $ref: v2.1.0/resources/alerts_unmerge_{alert_id}.yaml
  /datastore/list/tree:
    $ref: v2.1.0/resources/datastore_list_tree.yaml
  /datastore/file/add/{parent_id}:
    $ref: v2.1.0/resources/datastore_file_add_{parent_id}.yaml
  /datastore/file/info/{file_id}:
    $ref: v2.1.0/resources/datastore_file_info_{file_id}.yaml
  /datastore/file/update/{file_id}:
    $ref: v2.1.0/resources/datastore_file_update_{file_id}.yaml
  /datastore/file/delete/{file_id}:
    $ref: v2.1.0/resources/datastore_file_delete_{file_id}.yaml
  /datastore/file/view/{file_id}:
    $ref: v2.1.0/resources/datastore_file_view_{file_id}.yaml
  /datastore/file/move/{file_id}:
    $ref: v2.1.0/resources/datastore_file_move_{file_id}.yaml
  /datastore/folder/add:
    $ref: v2.1.0/resources/datastore_folder_add.yaml
  /datastore/folder/delete/{folder_id}:
    $ref: v2.1.0/resources/datastore_folder_delete_{folder_id}.yaml
  /datastore/folder/rename/{folder_id}:
    $ref: v2.1.0/resources/datastore_folder_rename_{folder_id}.yaml
  /datastore/folder/move/{folder_id}:
    $ref: v2.1.0/resources/datastore_folder_move_{folder_id}.yaml
  /case/{object_name}/{object_id}/comments/add:
    $ref: v2.1.0/resources/case_{object_name}_{object_id}_comments_add.yaml
  /case/{object_name}/{object_id}/comments/list:
    $ref: v2.1.0/resources/case_{object_name}_{object_id}_comments_list.yaml
  /case/{object_name}/{object_id}/comments/{comment_id}/delete:
    $ref: v2.1.0/resources/case_{object_name}_{object_id}_comments_{comment_id}_delete.yaml
  /case/{object_name}/{object_id}/comments/{comment_id}/edit:
    $ref: v2.1.0/resources/case_{object_name}_{object_id}_comments_{comment_id}_edit.yaml
  /dim/tasks/list/{rows_count}:
    $ref: v2.1.0/resources/dim_tasks_list_{rows_count}.yaml
  /dim/tasks/limited-list:
    $ref: v2.1.0/resources/dim_tasks_limited-list.yaml
  /dim/hooks/options/{object_type}/list:
    $ref: v2.1.0/resources/dim_hooks_options_{object_type}_list.yaml
  /dim/hooks/call:
    $ref: v2.1.0/resources/dim_hooks_call.yaml
  /global/tasks/list:
    $ref: v2.1.0/resources/global_tasks_list.yaml
  /global/tasks/add:
    $ref: v2.1.0/resources/global_tasks_add.yaml
  /global/tasks/update/{task_id}:
    $ref: v2.1.0/resources/global_tasks_update_{task_id}.yaml
  /global/tasks/delete/{task_id}:
    $ref: v2.1.0/resources/global_tasks_delete_{task_id}.yaml
  /manage/cases/add:
    $ref: v2.1.0/resources/manage_cases_add.yaml
  /manage/cases/list:
    $ref: v2.1.0/resources/manage_cases_list.yaml
  /manage/cases/close/{case_id}:
    $ref: v2.1.0/resources/manage_cases_close_{case_id}.yaml
  /manage/cases/reopen/{case_id}:
    $ref: v2.1.0/resources/manage_cases_reopen_{case_id}.yaml
  /manage/cases/delete/{case_id}:
    $ref: v2.1.0/resources/manage_cases_delete_{case_id}.yaml
  /manage/cases/update/{case_id}:
    $ref: v2.1.0/resources/manage_cases_update_{case_id}.yaml
  /manage/customers/list:
    $ref: v2.1.0/resources/manage_customers_list.yaml
  /manage/customers/{customer_id}:
    $ref: v2.1.0/resources/manage_customers_{customer_id}.yaml
  /manage/customers/add:
    $ref: v2.1.0/resources/manage_customers_add.yaml
  /manage/customers/update/{customer_id}:
    $ref: v2.1.0/resources/manage_customers_update_{customer_id}.yaml
  /manage/customers/delete/{customer_id}:
    $ref: v2.1.0/resources/manage_customers_delete_{customer_id}.yaml
  /manage/customers/{customer_id}/contacts/add:
    $ref: v2.1.0/resources/manage_customers_{customer_id}_contacts_add.yaml
  /manage/customers/{customer_id}/contacts/{contact_id}/update:
    $ref: v2.1.0/resources/manage_customers_{customer_id}_contacts_{contact_id}_update.yaml
  /manage/users/delete/{user_id}:
    $ref: v2.1.0/resources/manage_users_delete_{user_id}.yaml
  /manage/users/update/{user_id}:
    $ref: v2.1.0/resources/manage_users_update_{user_id}.yaml
  /manage/users/add:
    $ref: v2.1.0/resources/manage_users_add.yaml
  /manage/users/{user_id}/groups/update:
    $ref: v2.1.0/resources/manage_users_{user_id}_groups_update.yaml
  /manage/users/{user_id}/cases-access/update:
    $ref: v2.1.0/resources/manage_users_{user_id}_cases-access_update.yaml
  /manage/users/{user_id}/cases-access/delete:
    $ref: v2.1.0/resources/manage_users_{user_id}_cases-access_delete.yaml
  /manage/users/list:
    $ref: v2.1.0/resources/manage_users_list.yaml
  /manage/access-control/recompute-effective-user-ac/{user_id}:
    $ref: v2.1.0/resources/manage_access-control_recompute-effective-user-ac_{user_id}.yaml
  /manage/users/{user_id}:
    $ref: v2.1.0/resources/manage_users_{user_id}.yaml
  /manage/groups/add:
    $ref: v2.1.0/resources/manage_groups_add.yaml
  /manage/groups/update/{group_id}:
    $ref: v2.1.0/resources/manage_groups_update_{group_id}.yaml
  /manage/groups/{group_id}/members/update:
    $ref: v2.1.0/resources/manage_groups_{group_id}_members_update.yaml
  /manage/groups/delete/{group_id}:
    $ref: v2.1.0/resources/manage_groups_delete_{group_id}.yaml
  /manage/groups/{group_id}/members/delete/{user_id}:
    $ref: v2.1.0/resources/manage_groups_{group_id}_members_delete_{user_id}.yaml
  /manage/groups/{group_id}/cases-access/update:
    $ref: v2.1.0/resources/manage_groups_{group_id}_cases-access_update.yaml
  /manage/groups/{group_id}/cases-access/delete:
    $ref: v2.1.0/resources/manage_groups_{group_id}_cases-access_delete.yaml
  /manage/groups/list:
    $ref: v2.1.0/resources/manage_groups_list.yaml
  /manage/asset-type/list:
    $ref: v2.1.0/resources/manage_asset-type_list.yaml
  /manage/asset-type/{asset_type_id}:
    $ref: v2.1.0/resources/manage_asset-type_{asset_type_id}.yaml
  /manage/asset-type/delete/{asset_type_id}:
    $ref: v2.1.0/resources/manage_asset-type_delete_{asset_type_id}.yaml
  /manage/asset-type/add:
    $ref: v2.1.0/resources/manage_asset-type_add.yaml
  /manage/asset-type/update/{asset_type_id}:
    $ref: v2.1.0/resources/manage_asset-type_update_{asset_type_id}.yaml
  /manage/task-status/list:
    $ref: v2.1.0/resources/manage_task-status_list.yaml
  /manage/task-status/{task_status_id}:
    $ref: v2.1.0/resources/manage_task-status_{task_status_id}.yaml
  /manage/analysis-status/list:
    $ref: v2.1.0/resources/manage_analysis-status_list.yaml
  /manage/analysis-status/{analysis_status_id}:
    $ref: v2.1.0/resources/manage_analysis-status_{analysis_status_id}.yaml
  /manage/ioc-types/list:
    $ref: v2.1.0/resources/manage_ioc-types_list.yaml
  /manage/ioc-types/{ioc_type_id}:
    $ref: v2.1.0/resources/manage_ioc-types_{ioc_type_id}.yaml
  /manage/ioc-types/delete/{ioc_type_id}:
    $ref: v2.1.0/resources/manage_ioc-types_delete_{ioc_type_id}.yaml
  /manage/ioc-types/add:
    $ref: v2.1.0/resources/manage_ioc-types_add.yaml
  /manage/ioc-types/update/{ioc_type_id}:
    $ref: v2.1.0/resources/manage_ioc-types_update_{ioc_type_id}.yaml
  /manage/case-templates/add:
    $ref: v2.1.0/resources/manage_case-templates_add.yaml
  /manage/case-templates/update/{template_id}:
    $ref: v2.1.0/resources/manage_case-templates_update_{template_id}.yaml
  /manage/case-templates/delete/{template_id}:
    $ref: v2.1.0/resources/manage_case-templates_delete_{template_id}.yaml
  /manage/case-classifications/list:
    $ref: v2.1.0/resources/manage_case-classifications_list.yaml
  /manage/case-classifications/{classification_id}:
    $ref: v2.1.0/resources/manage_case-classifications_{classification_id}.yaml
  /manage/case-classifications/add:
    $ref: v2.1.0/resources/manage_case-classifications_add.yaml
  /manage/case-classifications/update/{classification_id}:
    $ref: v2.1.0/resources/manage_case-classifications_update_{classification_id}.yaml
  /manage/case-classifications/delete/{classification_id}:
    $ref: v2.1.0/resources/manage_case-classifications_delete_{classification_id}.yaml
  /manage/case-states/list:
    $ref: v2.1.0/resources/manage_case-states_list.yaml
  /manage/case-states/{state_id}:
    $ref: v2.1.0/resources/manage_case-states_{state_id}.yaml
  /manage/case-states/add:
    $ref: v2.1.0/resources/manage_case-states_add.yaml
  /manage/case-states/update/{state_id}:
    $ref: v2.1.0/resources/manage_case-states_update_{state_id}.yaml
  /manage/case-states/delete/{state_id}:
    $ref: v2.1.0/resources/manage_case-states_delete_{state_id}.yaml
  /manage/evidence-types/list:
    $ref: v2.1.0/resources/manage_evidence-types_list.yaml
  /manage/evidence-types/{type_id}:
    $ref: v2.1.0/resources/manage_evidence-types_{type_id}.yaml
  /manage/evidence-types/add:
    $ref: v2.1.0/resources/manage_evidence-types_add.yaml
  /manage/evidence-types/update/{type_id}:
    $ref: v2.1.0/resources/manage_evidence-types_update_{type_id}.yaml
  /manage/evidence-types/delete/{state_id}:
    $ref: v2.1.0/resources/manage_evidence-types_delete_{state_id}.yaml
  /api/versions:
    $ref: v2.1.0/resources/api_versions.yaml
  /api/ping:
    $ref: v2.1.0/resources/api_ping.yaml
  /manage/cases/filter:
    $ref: v2.1.0/resources/manage_cases_filter.yaml
  /api/v2/cases:
    $ref: v2.1.0/resources/api_v2_cases.yaml
  /api/v2/cases/{identifier}:
    $ref: v2.1.0/resources/api_v2_cases_{identifier}.yaml
  /api/v2/iocs:
    $ref: v2.1.0/resources/api_v2_iocs.yaml
  /api/v2/iocs/{identifier}:
    $ref: v2.1.0/resources/api_v2_iocs_{identifier}.yaml
  /api/v2/tasks:
    $ref: v2.1.0/resources/api_v2_tasks.yaml
  /api/v2/tasks/{identifier}:
    $ref: v2.1.0/resources/api_v2_tasks_{identifier}.yaml
  /api/v2/assets:
    $ref: v2.1.0/resources/api_v2_assets.yaml
  /api/v2/assets/{identifier}:
    $ref: v2.1.0/resources/api_v2_assets_{identifier}.yaml
components:
  securitySchemes:
    Bearer <bearer>:
      type: http
      scheme: bearer
      description: ''
security:
  - Bearer <bearer>: []
tags:
  - name: Cases
  - name: Notes
  - name: Assets
  - name: IOCs
  - name: Timeline
  - name: Tasks
  - name: Evidences
  - name: Alerts
  - name: Customers
  - name: Users
  - name: Groups
  - name: Modules
  - name: API
  - name: Beta
    description: These are all the endpoints which are still in beta. Their signature may evolve. Any feedback is welcome!
